<%= render partial: "layouts/users_header" %>
<section>
  <div class="l-single-container signup-title">
    <h2>新規会員登録</h2>
  </div>
  <div class="l-single-container user-action-btn">
    <%= link_to "#", class: 'btn-small signup--mail' do %>
      <i class="far fa-envelope icon-mail"></i>
      メールアドレスで登録
    <% end %>
    <%= link_to "#", class: 'btn-small signup--facebook' do %>
      <i class="fab fa-facebook icon-facebook"></i>
      facebookで登録
    <% end %>
    <%= link_to "#", class: 'btn-small signup--google' do %>
      <i class="fab fa-google-plus-g icon-googleplus"></i>
      Googleで登録
    <% end %>
  </div>
</section>
<%= render partial: "layouts/users_footer" %>
