= render partial: "layouts/users_header"
%section
  .signin-registration-btn.sign-bg
    %p アカウントをお持ちでない方はこちら
    = link_to "#", class: 'btn-small registration--new' do
      新規会員登録
%section.sign-bg.login-area
  .user-signin-btn
    = link_to "#", class: 'btn-small signup--facebook' do
      %i.fab.fa-facebook.icon-facebook
      facebookで登録
    = link_to "#", class: 'btn-small signup--google' do
      %i.fab.fa-google-plus-g.icon-googleplus
      Googleで登録
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f|
    %div
      = f.email_field :email, autocomplete: 'off', autofocus: true, placeholder: 'メールアドレス'
    %div
      = f.password_field :password, autocomplete: 'off', autofocus: true, placeholder: 'パスワード'
    = link_to "ログイン", "items/index", class: 'btn-small login-form--submit background-color_red'
  %p.forget-password
    = link_to "パスワードをお忘れの方",'#',class: 'blue-link'
= render partial: "layouts/users_footer"
