<%= render partial: "layouts/users_header" %>
<section>
  <div class="signin-registration-btn sign-bg">
    <p>アカウントをお持ちでない方はこちら</p>
    <%= link_to "#", class: 'btn-small registration--new' do %>
      新規会員登録
    <% end %>
  </div>
</section>
<section class="sign-bg login-area">
  <div class="user-signin-btn">
    <%= link_to "#", class: 'btn-small signup--facebook' do %>
      <i class="fab fa-facebook icon-facebook"></i>
      facebookで登録
    <% end %>
    <%= link_to "#", class: 'btn-small signup--google' do %>
      <i class="fab fa-google-plus-g icon-googleplus"></i>
      Googleで登録
    <% end %>
  </div>
  <form class="login-form" action="" method="post">
    <div>
      <input class="" type="text" name="" placeholder="メールアドレス">
    </div>
    <div>
      <input class="" type="password" name=""  placeholder="パスワード">
    </div>
    <button class="btn-small login-form--submit background-color_red" type="submit">ログイン</button>
  </form>
  <p class="forget-password">
    <%= link_to "パスワードをお忘れの方",'#',class: 'blue-link' %>
  </p>
</section>
<%= render partial: "layouts/users_footer" %>
