= render partial: "layouts/header"
/ カルーセル
%div
  .single-slider-item
    %div
      = link_to '#' do
        = image_tag('banner-hajimeru-fortune.jpg', alt: 'mercari')
    %div
      = link_to '#' do
        = image_tag('banner-featured-hobby.jpg', alt: 'mercari')
    .top-banner.bg-image-room
      .top-banner--inner.container
        .left
          %h2
            スマホでかんたん
            %br>/
            フリマアプリ
          %p
            メルカリはスマホカメラからすぐに出品できる
            %br>/
            購入時も安心な独自システムのアプリです
          .app-link
            = link_to '#' do
              = image_tag('app-store.svg', alt: 'appstore')
            = link_to '#' do
              = image_tag('google-play.svg', alt: 'googleplay')
        .right
          = image_tag('main_content_pc.png')
    %div
      = link_to '#' do
        = image_tag('banner-bokurano-heisei-entertainment.png', alt: 'mercari')
    %div
      = link_to '#' do
        = image_tag('banner-bokurano-heisei.jpg', alt: 'mercari')
/ カルーセル
.pickup.container
  %h2 ピックアップカテゴリー
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'レディース 新着アイテム', "#"
    .item-line
      - @lady_items.each do |item|
        = link_to '#' do
          .items-box
            %figure.items-box--image
              = image_tag item.images.name, alt: '商品タイトル商品タイトル商品タイトル'
            .item--caption
              %h4
                = item.details
              %div
                %p.price
                  ¥
                  = item.price
                %p.like
                  %i.far.fa-heart.like-icon
                  1
                %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'メンズ 新着アイテム', "#"
    .item-line
      - @mens_items.each do |item|
        = link_to '#' do
          .items-box
            %figure.items-box--image
              = image_tag item.images.name, alt: '商品タイトル商品タイトル商品タイトル'
            .item--caption
              %h4
                = item.details
              %div
                %p.price
                  ¥
                  = item.price
                %p.like
                  %i.far.fa-heart.like-icon
                  1
              %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'ベビー・キッズ 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'コスメ・香水・美容 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
.pickup.container
  %h2 ピックアップブランド
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'シャネル 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'ルイ ヴィトン 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'シュプリーム 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'ナイキ 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('m31884463082_1.jpg', alt: '商品タイトル商品タイトル商品タイトル')
          .item--caption
            %h4 商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                1
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
= render partial: "layouts/sale_item_btn"
= render partial: "layouts/footer"
