= render partial: "layouts/header2"
/ カルーセル
%div
  .single-slider-item
    %div
      = link_to '#' do
        = image_tag('banner-hajimeru-fortune.jpg', alt: 'mercari')
    %div
      = link_to '#' do
        = image_tag('banner-featured-hobby.jpg', alt: 'mercari')
    .top-banner.bg-image-room
      .top-banner--inner.container
        .left
          %h2
            スマホでかんたん
            %br>/
            フリマアプリ
          %p
            メルカリはスマホカメラからすぐに出品できる
            %br>/
            購入時も安心な独自システムのアプリです
          .app-link
            = link_to '#' do
              = image_tag('app-store.svg', alt: 'appstore')
            = link_to '#' do
              = image_tag('google-play.svg', alt: 'googleplay')
        .right
          = image_tag('main_content_pc.png')
    %div
      = link_to '#' do
        = image_tag('banner-bokurano-heisei-entertainment.png', alt: 'mercari')
    %div
      = link_to '#' do
        = image_tag('banner-bokurano-heisei.jpg', alt: 'mercari')
  .top-image-sp
    = image_tag('banner-hajimeru-fortune.jpg', alt: 'mercari')
/ カルーセル
.pickup.container
  %h2 ピックアップカテゴリー
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'レディース 新着アイテム', "#"
    .item-line
      = link_to '/items/show' do
        .items-box
          %figure.items-box--image
            = image_tag('https://base-ec2.akamaized.net/images/item/origin/26b44e0e8c8c1079cedf032f7c48b276.png', alt: 'ハンサム')
          .item--caption
            %h4 ハンサム5人
            %div
              %p.price ¥ 836
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/item/detail/orig/photos/m77117938064_1.jpg?1552542342', alt: 'トップス')
          .item--caption
            %h4 【美品】JINASIS トップス 送料無料 早いもの勝ち☆
            %div
              %p.price ¥ 1200
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m47273215116_1.jpg?1550979771', alt: 'パンツ')
          .item--caption
            %h4 ユニクロ クロップドパンツ（新品）
            %div
              %p.price ¥ 1000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m45763189456_1.jpg?1552573008', alt: 'スカート')
          .item--caption
            %h4 ユニクロのスカート
            %div
              %p.price ¥ 800
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all
      = link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'メンズ 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m87540719242_1.jpg?1552557645', alt: '時計')
          .item--caption
            %h4 美品 腕時計
            %div
              %p.price ¥ 10800
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m64600130927_1.jpg?1552483745', alt: 'ナイキ')
          .item--caption
            %h4 ナイキ
            %div
              %p.price ¥ 2800
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m94046718871_1.jpg?1552573757', alt: '')
          .item--caption
            %h4 おじ靴
            %div
              %p.price ¥ 4000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m34308769877_1.jpg?1552573754', alt: '')
          .item--caption
            %h4 NIKE シューズ
            %div
              %p.price ¥ 8000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all
      = link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'コスメ・香水・美容 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m93020523625_1.jpg?1552573936', alt: '')
          .item--caption
            %h4 まつげ美容液 4割残
            %div
              %p.price ¥ 500
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m67865760866_1.jpg?1552573931', alt: '')
          .item--caption
            %h4 ほぼ未使用ファンデーション
            %div
              %p.price ¥ 2000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m24458174264_1.jpg?1552573919', alt: '')
          .item--caption
            %h4 KATE シャドー
            %div
              %p.price ¥ 1500
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m68161302638_1.jpg?1552550238', alt: '')
          .item--caption
            %h4 アイシャドーパレット
            %div
              %p.price ¥ 1200
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all
      = link_to 'すべての商品を見る', "#"
.pickup.container
  %h2 ピックアップブランド
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'シャネル 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m98706380236_1.jpg?1552222163', alt: '')
          .item--caption
            %h4 シャネル☆バッグ！！
            %div
              %p.price ¥ 12000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m75269981477_1.jpg?1552377727', alt: '')
          .item--caption
            %h4 香水シャネル
            %div
              %p.price ¥ 5000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m18162106385_1.jpg?1552575358', alt: '')
          .item--caption
            %h4 シャネルネックレス
            %div
              %p.price ¥ 12000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m10717725150_1.jpg?1550586040', alt: '')
          .item--caption
            %h4 ピアス シャネル
            %div
              %p.price ¥ 45000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'ルイヴィトン 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m33965528745_1.jpg?1552571444', alt: 'ルイヴィトン')
          .item--caption
            %h4 ルイヴィトン☆財布
            %div
              %p.price ¥ 24000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m79132035348_1.jpg?1552575452', alt: 'ルイヴィトン')
          .item--caption
            %h4 【ルイヴィトン】人気☆モノグラム長財布
            %div
              %p.price ¥ 54000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m37785691926_1.jpg?1549378887', alt: 'ルイヴィトン')
          .item--caption
            %h4 ルイヴィトン バッグ
            %div
              %p.price ¥ 110000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m55240640131_1.jpg?1552575406', alt: 'ルイヴィトン')
          .item--caption
            %h4 ルイヴィトン 財布 オシャレ
            %div
              %p.price ¥ 9800
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'シュプリーム 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m40642897240_1.jpg?1552103522', alt: 'ルイヴィトン')
          .item--caption
            %h4 ハーフパンツ レア
            %div
              %p.price ¥ 31000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m17216193072_1.jpg?1549464935', alt: '')
          .item--caption
            %h4 シュプリームベースボールデニムシャツ
            %div
              %p.price ¥ 24000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m62486232120_1.jpg?1552575612', alt: '')
          .item--caption
            %h4 シュプリーム ジャケット
            %div
              %p.price ¥ 15000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m13685837801_1.jpg?1552575528', alt: '')
          .item--caption
            %h4 キャップ シュプリーム
            %div
              %p.price ¥ 11000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
  %section.top-items.container
    / 繰り返し
    %h3= link_to 'ナイキ 新着アイテム', "#"
    .item-line
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m34308769877_1.jpg?1552573754', alt: '')
          .item--caption
            %h4 NIKE シューズ
            %div
              %p.price ¥ 8000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m69088235421_1.jpg?1551841339', alt: '')
          .item--caption
            %h4 スニーカー 美品 28cm
            %div
              %p.price ¥ 15000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m22142624775_1.jpg?1552563974', alt: '')
          .item--caption
            %h4 NIKE パーカー ナイキ
            %div
              %p.price ¥ 10000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
      = link_to '#' do
        .items-box
          %figure.items-box--image
            = image_tag('https://static.mercdn.net/thumb/photos/m56294614671_1.jpg?1552574964', alt: '')
          .item--caption
            %h4 ラストひとつ！！早いもの勝ちです NIKE スニーカー レア 送料込み
            %div
              %p.price ¥ 10000
              %p.like
                %i.far.fa-heart.like-icon
                0
            %p (税込)
    %p.link-to-all= link_to 'すべての商品を見る', "#"
= render partial: "layouts/sale_item_btn"
= render partial: "layouts/footer"
