%footer.user-sign-up--footer
  %ul.container
    %li
      = link_to "プライバシーポリシー",'#'
    %li
      = link_to "メルカリ利用規約",'#'
    %li
      = link_to "特定商取引に関する表記",'#'
  .footer-logo--signup.container
    = link_to "/items/itemsuser" do
      = image_tag("mercari-logo-gray.svg",alt: 'mercari' )
    %p © 2019 Mercari
