<footer class="user-sign-up--footer">
  <ul class="container">
    <li>
      <%= link_to "プライバシーポリシー",'#' %>
    </li>
    <li>
      <%= link_to "メルカリ利用規約",'#' %>
    </li>
    <li>
      <%= link_to "特定商取引に関する表記",'#' %>
    </li>
  </ul>
  <div class="footer-logo--signup container">
    <%= link_to "#" do %>
      <%= image_tag("mercari-logo-gray.svg",alt: 'mercari' ) %>
    <% end %>
    <p>© 2019 Mercari</p>
  </div>
</footer>
